.container
  width: 100%


.col-3
  float: left
  width: 30%
  height: 100%
  background-color: #8b4716
  z-index: 1
  top: 0
  left: 0
  position: fixed
  overflow-x: hidden

.col-9
  float: left
  width: 100%
  padding: 0px 10px


.col-3 img
  width: 50%
  height: auto
  border-radius: 50%
  margin-top: 15%

.sidebar_headings
  text-align: center

.icon-bar
    width: 90px
    background-color: #555

.side_nav a
    display: block
    text-align: center
    padding: 1%
    transition: all 0.3s ease
    color: white
    font-size: 20px
    text-decoration: none


.side_nav a:hover
    background-color: #000

.main_page
  width: 100%

#f_name
  float: left
  margin-left: 30%
  padding-left: 2%
  font-size: 50px

#l_name
  float: left
  padding-left: 2%
  font-size: 50px
  color: #8b4716

#sentence
  float: left
// #web
//   color: #8b4716
